.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr); */
    /* grid-column-column-gap: 10px; */
  gap: 10px;
  padding: 20px;
}
.imageCard {
  /* display: grid; */
  /* grid-template-columns: 4fr auto; */
  width: fit-content;
  height: fit-content;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: static;
  border-radius: 5px;
}
.caption {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
